# Ansible Role: {{ role_name }}

Basic description for {{ role_name }}

## Requirements

## Dependencies

## Role Handlers

| Name          | Type    | Description          | File     |
| ------------- | ------- | -------------------- | -------- |

## Role Variables

| File | Name | Type | Description |
| -----|------|------|-------------|

## Current Entries/Tasks

|  Name  |  Hosts | File |
| -------|--------|------|

## Tags and How to Use

| Tag Name | Purpose |
| -------- | ------- |

## Playbooks

|  Name  |  Role dependencies |
| -------|--------------------|

## Example Playbook

```yaml
- name: run role {{ role_name }}
  hosts: all
  become: true
  become_user: root
  tasks:
    - import_role: {{ role_name }}
        name: 
        tasks_from: 
```

## Ansible Tower Info

### Job Templates

| Job | Playbook | Schedule |
| --- | -------- | -------- |

#### Author Information

This role was created in 2020 by [MyName](authoremail@domain.net)
